@{
    ViewBag.Title = "GeoServidor | Noticia";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div id="cuerpo">
    <div id="enlace">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
           

            <li class="activo"> Todas las categorías</li>

        </ol>

        <div class="subcontenedor">




            <section id="noticias">

                <h1> Noticias</h1>

                <div class="col-md-8">
                    <div class="itemnoticia">
                        <h3>
                        <a href="@Url.Action("Detalle", "Novedad")">  Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi</a></h3>
                        <div class="contenedorimagen">
                            <a href="@Url.Action("Detalle", "Novedad")">
                            <img src="@Url.Content("~/resources/images/thumbnails/noticia1.jpg")" />
                                </a>
                        </div>

                        <figure class="meta">

                            <div class="izquierda">
                                <i class="fa fa-calendar"></i><b> 06/04/2014</b> 
                                <i class="fa fa-list"></i>Categoría:<b> Política</b>
                            
                            </div>
                            <div class="tags">
                                <a href="#" class="tag article">Tag 1</a>
                                <a href="#" class="tag article">Tag 2</a>
                                <a href="#" class="tag article">Tag 3</a>
                            </div>
                        </figure>


                        <p>
                            Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                            tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                            velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                            sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
                            hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
                            in malesuada sem rutrum. In placerat porta egestas.
                        </p>
                        <p>
                            <a  class="btn" href="@Url.Action("Detalle", "Novedad")">  Ver Detalle</a>


                        </p>
                      
                    </div>




                    <div class="itemnoticia">
                        <h3>
                            <a href="@Url.Action("Detalle", "Novedad")">  Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi</a>
                        </h3>
                        <div class="contenedorimagen">

                            <a href="@Url.Action("Detalle", "Novedad")"> <img src="@Url.Content("~/resources/images/thumbnails/noticia2.jpg")" /></a>
</div>

                        <figure class="meta">

                            <div class="izquierda">
                                <i class="fa fa-calendar"></i><b> 06/04/2014</b>
                                <i class="fa fa-list"></i>Categoría:<b> Política</b>

                            </div>
                            <div class="tags">
                                <a href="#" class="tag article">Tag 1</a>
                                <a href="#" class="tag article">Tag 2</a>
                                <a href="#" class="tag article">Tag 3</a>
                            </div>
                        </figure>


                        <p>
                            Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                            tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                            velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                            sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
                            hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
                            in malesuada sem rutrum. In placerat porta egestas.
                        </p>
                        <p>
                            <a class="btn" href="@Url.Action("Detalle", "Novedad")">  Ver Detalle</a>


                        </p>

                    </div>




                    <div class="itemnoticia">
                        <h3>
                            <a href="@Url.Action("Detalle", "Novedad")">  Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi</a>
                        </h3>
                        <div class="contenedorimagen">
                            <a href="@Url.Action("Detalle", "Novedad")">
                                <img src="@Url.Content("~/resources/images/thumbnails/noticia3.jpg")" />
                                </a>
</div>

                        <figure class="meta">

                            <div class="izquierda">
                                <i class="fa fa-calendar"></i><b> 06/04/2014</b>
                                <i class="fa fa-list"></i>Categoría:<b> Política</b>

                            </div>
                            <div class="tags">
                                <a href="#" class="tag article">Tag 1</a>
                                <a href="#" class="tag article">Tag 2</a>
                                <a href="#" class="tag article">Tag 3</a>
                            </div>
                        </figure>


                        <p>
                            Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                            tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                            velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                            sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
                            hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
                            in malesuada sem rutrum. In placerat porta egestas.
                        </p>
                        <p>
                            <a class="btn" href="@Url.Action("Detalle", "Novedad")">  Ver Detalle</a>


                        </p>

                    </div>


                    <div class="itemnoticia">
                        <h3>
                            <a href="@Url.Action("Detalle", "Novedad")">  Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi</a>
                        </h3>
                        <div class="contenedorimagen">
                            <a href="@Url.Action("Detalle", "Novedad")">
                                <img src="@Url.Content("~/resources/images/thumbnails/noticia4.jpg")" />
                                </a>
</div>

                        <figure class="meta">

                            <div class="izquierda">
                                <i class="fa fa-calendar"></i><b> 06/04/2014</b>
                                <i class="fa fa-list"></i>Categoría:<b> Política</b>

                            </div>
                            <div class="tags">
                                <a href="#" class="tag article">Tag 1</a>
                                <a href="#" class="tag article">Tag 2</a>
                                <a href="#" class="tag article">Tag 3</a>
                            </div>
                        </figure>


                        <p>
                            Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                            tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                            velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                            sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
                            hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
                            in malesuada sem rutrum. In placerat porta egestas.
                        </p>
                        <p>
                            <a class="btn" href="@Url.Action("Detalle", "Novedad")">  Ver Detalle</a>


                        </p>

                    </div>

                    <div id="loading">

                        <img src="~/resources/images/loading.gif" />
                    </div>
                                 
                </div>

                <div class="col-md-4">
                    <section id="barralateral">

                        


                        <aside id="categories">
                            <header><h3>Categorías</h3></header>
                            <ul class="list-links">
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Apartments</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Do it yourself</a></li>
                                <li><a href="#">Housing</a></li>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Trends</a></li>
                            </ul>
                        </aside>
                        <aside id="twitter">
                            <a class="twitter-timeline" href="https://twitter.com/MinamPeru" data-widget-id="543385882259374080">Tweets por el @@MinamPeru.</a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        </aside>
                            <aside id="facebook">
                                <div id="blockfacebook">
                                    <div id="fb-root">
                                    </div>

                                    <script>
                                        (function (d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id)) return;
                                            js = d.createElement(s); js.id = id;
                                            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));</script>

                                    <div class="fb-like-box" data-href="https://www.facebook.com/geoservidor.sigminam"
                                         data-width="300" data-height="400" data-show-faces="true" data-stream="true"
                                         data-header="true">
                                    </div>
                                </div>

                            </aside>
</section>
                </div>


                <div class="limpiar"></div>
                <div class="espaciobottom"></div>




        </div>
     </div>

</div>


