@{
    ViewBag.Title = "Jazani | Index";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<style>

    #background {
position: absolute;
top: 1px;
left: 0;
z-index: 0;
height: 900px;
width: 100%;
}
</style>


<div class="section main">
    <div class="container">
        <div class="parsys adsk-middle adsk-parsys">
            <div class="parbase section base-code">
                <!--[if lt IE 9]>
            <script type="text/javascript" src="http://static-dc.autodesk.net/content/dam/autodesk/javascript/html5shiv.js"></script>
            <![endif]-->
                <!--Banner begins-->
                <div id="sliderwrapper">
                    <div id="slidernav">
                        <!--banner thumbnail 1-->
                        <div id="homepage-banner-thumbnail-1-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">        
                            <div class="sliderthumb selected" data-id="#z1" data-next-id="#z2"> 

                                <img alt="" src="~/resources/images/slides/slide1small2.jpg"> 
                                <img class="thumb-hover" alt="" src="~/resources/images/slides/slide1small1.jpg">     
                             <p>Consultora Ambiental</p>    </div></div></div>

                        <!--banner thumbnail 2-->
                        <div id="homepage-banner-thumbnail-2-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">         
                            <div class="sliderthumb" data-id="#z2" data-next-id="#z3"> 
                                <img alt="" src="~/resources/images/slides/slide2small2.jpg">
                                <img class="thumb-hover" alt="" src="~/resources/images/slides/slide2small1.jpg">

                            <p>Lorem Ipsum Dolor</p>    </div></div></div>

                        <!--banner thumbnail 3-->
                        <div id="homepage-banner-thumbnail-3-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">         
                            <div class="sliderthumb" data-id="#z3" data-next-id="#z1"> 
                                <img alt="" src="~/resources/images/slides/slide3small2.jpg">
                                <img class="thumb-hover" alt="" src="~/resources/images/slides/slide3small1.jpg">

                            <p>Sistemas de información</p>    </div></div></div>
                    </div>
                    <!--Banner content 1-->
                    <div id="homepage-banner-1-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">
                            <style type="text/css">
                                .z1 {
                                    background: url(../resources/images/slides/bgslide1.jpg) no-repeat top center;
                                }
                            </style>
                            <div class="sliderpanel" id="z1" style="display: block;">    
                            <div class="panelcontent">      
                                <h2 class="s2">Consultora Ambiental</h2>      
                                <h1 class="s2">Es una empresa enfocada en brindar servicios de asesorías y/o consultorías en ingeniería y asuntos ambientales. </h1>      
                                <h3 class="s3">
                                
                                    <!--
    <img alt="" src="~/resources/images/banner_cta_arrow_16x15.png">

    <a href="" data-wat-link="true" data-wat-loc="banner">link</a>
        -->

                                </h3>    
                                </div>    
                                <img class="sliderimage" alt="" src="~/resources/images/slides/slide1.jpg"> 
                            </div>
                        </div>
                    </div>
                    <!--Banner content 2-->

                    <div id="homepage-banner-2-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">
                            <style type="text/css">
                                .z2 {
                                    background: url(../resources/images/slides/bgslide2.png) no-repeat top center;
                                }
                            </style>  <div class="sliderpanel" id="z2" style="display: none;">   
                             <div class="panelcontent">      <h2 class="s2">Lorem Iipsum Dolor</h2>     
                             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>      <h3 class="s3">
                                  <!--                                                                                                                                 
                                 <img alt="" src="~/resources/images/banner_cta_arrow_16x15.png">
                                  
                                 <a href="" data-wat-link="true" data-wat-loc="banner">link</a>
                                     -->
                                 
                                 </h3>    </div>    
                                          <img class="sliderimage" alt="" src="~/resources/images/slides/slide2.jpg"></div>
                        </div>
                    </div>
                    <!--Banner content 3-->
                    <div id="homepage-banner-3-geo" class="campaign campaign-teaserstylescampaign">
                        <div class="parbase section base-code">
                            <style type="text/css">
                                .z3 {
                                     background: url(../resources/images/slides/bgslide3.jpg) no-repeat top center;
                                }
                            </style>  
                            <div class="sliderpanel" id="z3" style="display: none;">    
                            <div class="panelcontent">      
                                <h2 class="s2">Sistemas de información</h2>      
                                <p>Desarrollamos software orientado para el medio ambiente <br>
                                
                                <h3 class="s3">
                                    <!--
      <img alt="" src="~/resources/images/banner_cta_arrow_16x15.png">

      <a href="" data-wat-link="true" data-wat-loc="banner">link</a>
          -->
      
                                    </h3>    </div>    
                                <img class="sliderimage" alt="Jumpstart 3D printing" src="~/resources/images/slides/slide3.jpg"> </div>
                        </div>
                    </div>
                    <!--Banner end-->
                </div>
            </div>

            <div class="parbase section base-code">
                <!--All content below banner-->

                <div id="bottomcontainer">
                    <!--link START-->
                    <div id="topbuttons">
                        <!--Below banner - Button 1-->
                        <a href="productos-y-servicios/servicios-37.html" class="no-inline-block">
                            <div class="topbutton linked">
                                <h3 class="s3"><i class="fa fa-info-circle"></i> Nuestros Servicios</h3>
                                <!--
            <h5 class="s2">dolor ipson savipdum.</h5>
                -->
                            </div>
                        </a>
                        <!--Below banner - Button 2-->
                        <a href="/productos-y-servicios/servicios-ambientales-38.html" class="no-inline-block">
                            <div class="topbutton linked">
                                <h3 class="s3"><i class="fa fa-leaf"></i> Servicios Ambientales</h3>
                                <!--
            <h5 class="s2">dolor ipson savipdum.</h5>
                 -->
                            </div>
                        </a>
                        <!--Below banner - Button 3-->
                        <a href="/enlaces/organizaciones-y-ministerios-34.html" class="no-inline-block">
                            <div class="topbutton linked">
                                <h3 class="s3"><i class="fa fa-link"></i> Enlaces</h3>
                                <!--
            <h5 class="s2">dolor ipson savipdum.</h5>
                 -->
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gradientborder"></div>
                    <!--link END-->

                    <!--Novedades-->
                    <div id="downloads" class="s3">
                      

                        <h4 class="no-underline">
                        <a href="#" class="no-underline">
                            <img alt="Novedades - Descarga" src="~/resources/images/download_icon_24x24.png"> Novedades- Descarga
                        </a>
                        </h4>
                       
                         <ul>
                            <li><a href="@Url.Action("Video", "Home", new { url = "http://www.youtube.com/v/OEtOzRKwWdc?fs=1&amp;hl=es_ES" })" class="no-underline"><img alt="" src="~/resources/images/dwf-logo-26x25.png"> GeoMining Enterprise 2010</a></li>
                            <li><a href="@Url.Action("Video", "Home", new { url = "http://www.youtube.com/v/qkmrvA-uf7E?fs=1&amp;hl=es_ES&amp;rel=0" })" class="no-underline"><img alt="" src="~/resources/images/dwf-logo-26x25.png"> GeoMining Explorer 2010</a></li>
                             <li><a href="@Url.Action("Video", "Home", new { url = "http://www.youtube.com/v/OeDhGrC2MvM?fs=1&amp;hl=es_ES" })" class="no-underline"><img alt="" src="~/resources/images/dwf-logo-26x25.png"> Curso GeoMining 2011</a></li>
                             <li><a href="@Url.Action("pdf", "Home", new { pdf = "http://www.jazani.com.pe/news/GEOMINING_ENTERPRISE_BROCHURE_2010.pdf" })" class="no-underline"><img alt="" src="~/resources/images/dwf-logo-26x25.png"> GeoMining Enterprise Brochure</a></li>
                             <!-- 
                             <li><a href="" class="no-underline"><img alt="" src="~/resources/images/dwf-logo-26x25.png"> GeoMining Explorer Brochure</a></li>
                            -->
                         </ul>

                     </div>
                    <!--Novedades END-->

                    <!-- Noticias START-->
                    <div id="centercontainer">
                        <h1 id="page-title" class="title"><i class="fa fa-rss"></i> Noticias</h1>
                        <hr class="bb3 mvl size98of98">

@foreach (var item in AecFramework.Cms.Mvc.Models.MenuModel.MainMenu)
            {
                var section = new AecFramework.Cms.Section(item.Key);
                if (!string.IsNullOrEmpty(section.WidgetLayout))
                {

                    @Html.Partial(section.WidgetLayout, section);
    
                        
                      
                }
            }    
                        
                        <div class="clearfix"></div>
                       
                    </div>

                    <!-- Fin START-->
                    <div class="clearfix"></div>
                </div>

            </div>


        </div>
    </div>
</div>


