@model AecFramework.Cms.Content
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    var latest = AecFramework.Cms.Content.GetList(AecFramework.Cms.ListMode.Recent, Model.SectionId, null, AecFramework.Cms.ContentStatus.Active, 1, 50);
    var order = new Func<AecFramework.Cms.Content, int>(i =>
    {
        var result = 0;

        foreach (var cat in Model.Categories)
            if (i.Categories.Contains(cat))
                result++;

        foreach (var tag in Model.Tags)
            if (i.Tags.Contains(tag))
                result++;

        return result;
    });
    
}
@section HeaderSection{
    <script src="~/resources/js/social-likes.min.js"></script>
    <style>
        .br5, .bh5, .ba5 {
border-right: 1px solid #fff;
margin-bottom: 10px;
}
    </style>
}
<div class="section main">
    <div>
        <div class="adsk-breadcrumb breadcrumb">

            <div class="section adsk-breadcrumb container setPos">
                <ul class="adsk-inlineList">





                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio</a></li>
                    @foreach (var cat in Model.Categories)
                    {
                        if (!string.IsNullOrEmpty(cat))
                        {
                            <li><a href="#"><i class="fa fa-bars"></i>  @cat</a></li>
                        }
                    }
                    <li class="activo"><i class="fa fa-angle-double-right"></i> @Model.Title</li>
                </ul>
            </div>

        </div>
        <div class="banner">
            <div class="section adsk-static-banner adsk-authorBG expand"
                  style="height: 60px;
">
                <div class="grid adsk-industry-banner-image">
                    <div class="parbase adsk-image image">

                        <h1 class="s0 allCaps dkGrey"> <b><i class="fa fa-angle-double-right"></i> @Model.Title</b></h1>
                    </div>

                </div>
            </div>


        </div>



    </div>
    <div class="container content">

        <div class="col adsk-content colleft">
            <div class="section">
                <div id="rawcontent">
                    @Html.Raw(Model.Body)
                    <p>

                        <table>
                            
                            <tr>
                                <td style="padding-top:10px; width:140px">
                                    <div class="s3 mdGrey">
                                        <b> <i class="fa fa-share-alt"></i> Compartir:</b>
                                    </div>

                                </td>
                                <td>
                                    <div class="social-likes">


                                        <div class="facebook" title="Compartir enlace en Facebook">Facebook</div>
                                        <div class="twitter" title="Compartir enlace enn Twitter">Twitter</div>
                                        <div class="plusone" title="Compartir enlace en Google+">Google+</div>
                                    </div>
                                </td>
                            </tr>
                        </table>






</div>
            </div>
        </div>


        <div class="col adsk-pNav colright">
         





            <div class="br5 bb4 set-rel pa-1-0 estore-config-head" style="background-color: #c8dac2; margin-bottom:10px;" id="mf185">
                <h2 class="h2head">
                    <i class="fa fa-external-link"></i>  Más...
                </h2>
            </div>
            <br />

            @foreach (var item in latest.Take(5))
            {

                <div class="parsys_column ">
                    <div class="parsys_column ">
                        <div class="rich-text parbase section">

                            <div class="section-header parbase section">

                                <h4 class="s4-b ">
                                    <a class="  noDecor" href="@Url.ContentUrl(item)"> <i class="fa fa-angle-right"></i>  @item.Title</a>
                                </h4>
                            </div>


                            


                        </div>
                    </div>
                </div>
                <hr class="bb3 mvl size98of98">


            }


            <div class="br5 bb4 set-rel pa-1-0 estore-config-head" style="background-color: #c8dac2; margin-bottom:10px;" id="mf185">
                <h2 class="h2head">
                    <i class="fa fa-newspaper-o"></i>  Últimas Noticias:
                </h2>
            </div>
            <br />


            @foreach (var item in AecFramework.Cms.Mvc.Models.MenuModel.MainMenu)
            {
                var section = new AecFramework.Cms.Section(item.Key);
                if (!string.IsNullOrEmpty(section.WidgetLayout))
                {

                    @Html.Partial(section.WidgetLayout, section);



                }
            }



            <aside id="twitter">

                <div class="br5 bb4 set-rel pa-1-0 estore-config-head" style="background-color: #c8dac2" id="mf185">
                    <h2 class="h2head"><i class="fa fa-share-alt"></i> Social:</h2>
                </div>

                <a class="twitter-timeline" href="https://twitter.com/JazaniConsultor" data-widget-id="559808847200923648">Tweets por el @@JazaniConsultor.</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </aside>
            <aside id="facebook">
                <div id="blockfacebook">
                    <br />
                    <div class="br5 bb4 set-rel pa-1-0 estore-config-head" style="background-color: #c8dac2" id="mf185">
                        <h2 class="h2head"><i class="fa fa-facebook-official"></i> Facebook:</h2>
                    </div>

                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Jazani-Consultora-Ambiental/1428199100805359" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <hr class="bb3 mvl size98of98">
                </div>
            </aside>




  


        </div>





    </div>
</div>



        
        
